@{
    ViewData["Title"] = "Portfolio";
}

<link rel="stylesheet" href="~/css/Portfolio.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">

<header>
    <div class="logo" onclick="location.reload()">JD</div>
    <nav>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        <a href="#resume" class="resume">Resume</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <h3>Hi, my name is</h3>
        <h1>Oleksandr Dzh.</h1>
        <h2>I build things for the web.</h2>
        <p class="info">I'm a fullstack developer with a passion for front-end development and design. I aspire toward a career that will allow me to create various web products through improving my development skills.</p>
        <a href="#work">Check out my work</a>
    </div>
</section>
