* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;
    padding: 20px 15%;
    z-index: 100;
}

@media (max-width: 1420px) {
    header {
        padding: 20px 10%;
    }
}

@media (max-width: 1100px) {
    header {
        padding: 20px 2%;
    }
}

    header .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #64ffda;
        cursor: pointer;
    }

    header nav {
        display: flex;
        gap: -10px;
    }

        header nav a {
            padding: 10px 20px;
            text-decoration: none;
            color: #838dab;
            font-size: 1rem;
            transition: color 0.3s;
        }

            header nav a:hover {
                color: #64ffda;
            }

.resume {
    border: 1px solid #64ffda;
    border-radius: 5px;
    color: #64ffda;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

    .resume:hover {
        background-color: #64ffda;
        color: #0a192f;
    }

section {
    padding: 100px 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a192f;
    color: #ccd6f6;
}

.hero-content {
    max-width: 800px;
    text-align: left;
}

    .hero-content h1 {
        font-size: 4rem;
        margin-bottom: -10px;
        color: #ccd6f6;
    }

    .hero-content h2 {
        font-size: 3rem;
        margin-bottom: 5px;
        color: #8892b0;
    }

    .hero-content h3 {
        font-size: 1rem;
        margin-bottom: 5px;
        color: #5ff1d0;
    }

    .hero-content .info {
        font-size: 1rem;
        margin-bottom: 30px;
        color: #7e88a5;
    }

    .hero-content a {
        display: inline-block;
        padding: 10px 20px;
        background-color: transparent;
        color: #59e3c5;
        border: 1px solid #59e3c5;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.2rem;
        transition: background-color 0.3s, color 0.3s;
    }

        .hero-content a:hover {
            background-color: #64ffda;
            color: #0a192f;
        }


.about {
    padding: 100px 20px;
    background-color: #0a192f;
    color: #ccd6f6;
    text-align: center;
}

    .about h2 {
        font-size: 2rem;
        color: #64ffda;
        margin-bottom: 20px;
    }

    .about p {
        font-size: 1.2rem;
        margin-bottom: 30px;
        color: #8892b0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .about a {
        display: inline-block;
        padding: 10px 20px;
        background-color: transparent;
        color: #64ffda;
        border: 1px solid #64ffda;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        transition: background-color 0.3s, color 0.3s;
    }

        .about a:hover {
            background-color: #64ffda;
            color: #0a192f;
        }

.about-section {
    padding: 100px 20px;
    background-color: #0a192f;
    color: #ccd6f6;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100vh;
}

.about-container {
    max-width: 900px;
    text-align: left;
}

.header-with-line {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

    .header-with-line h2 {
        font-size: 1.7rem;
        color: #ccd6f6;
        display: flex;
        gap: 8px;
        white-space: nowrap;
    }

    .header-with-line .line {
        flex-grow: 1;
        height: 1px;
        background-color: #233149;
    }

    .header-with-line .icon {
        width: 18px;
        height: auto;
        object-fit: contain;
    }

.first-grid {
    background-color: #12213a;
    padding: 25px;
    border: 1px solid #1e2d46;
    border-radius: 10px;
}

    .first-grid .about-text {
        font-size: 1.1rem;
        color: #848fac;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .first-grid .role {
        color: #5ff2d1;
        font-size: 1rem;
    }

    .first-grid .icon {
        width: 14px;
        height: auto;
        object-fit: contain;
    }

.skills-section h3 {
    font-size: 1.3em;
    color: #ccd6f6;
    margin-bottom: 15px;
    display: flex;
    gap: 8px;
}

    .skills-section .icon {
        width: 17px;
        height: auto;
        object-fit: contain;
        gap: 8px;
    }

.skills-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.skills-column {
    background-color: #12213a;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #1e2d46;
    width: 283px;
    text-align: left;
}

    .skills-column h4 {
        font-size: 1rem;
        margin-bottom: 10px;
        color: #5ff2d1;
    }

    .skills-column ul {
        list-style: none;
        padding: 0;
    }

    .skills-column li {
        font-size: 1rem;
        color: #848fac;
        margin-bottom: 5px;
    }


.projects-section {
    padding: 100px 20px;
    background-color: #0a192f;
    color: #ccd6f6;
}

.projects-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

    .projects-container .header-with-line .icon {
        width: 20px;
        height: auto;
        object-fit: contain;
    }

.projects-grid {
    display: flex;
    flex-direction: column; /* Вертикальне розташування */
    gap: 30px; /* Відступи між проектами */
}

.project-card {
    background-color: #12213a;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #1e2d46;
    display: flex;
    gap: 20px; /* Відступ між зображенням і текстом */
    align-items: center; /* Вирівнювання по вертикалі */
}

    .project-card .project-image {
        width: 410px;
        height: 220px;
        overflow: hidden;
        border-radius: 10px;
        flex-shrink: 0;
    }

        .project-card .project-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .project-card .project-details {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-grow: 1;
    }

    .project-card h3 {
        font-size: 1.2rem;
        color: #ccd6f6;
    }

    .project-card p {
        font-size: 1rem;
        color: #8892b0;
    }

.project-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

    .project-tags span {
        background-color: #233554;
        color: #60f3d2;
        padding: 5px 10px;
        border-radius: 50px;
        font-size: 0.9rem;
    }

.project-links {
    display: flex;
    gap: 10px;
}

    .project-links .btn {
        padding: 5px 10px;
        border: 1px solid #64ffda;
        color: #7f88a7;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }

        .project-links .btn:hover {
            background-color: #64ffda;
            color: #7f88a7;
        }
